footer{
    width: 100%;
    height: 50vh;
    min-height: 309.5px;
    background: #2F2F2F;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

footer .logo{
    height: 70%;
    width: 20%;
    display: flex;
    justify-content: left;
    align-items:start;
    flex-direction:column;
}
footer .logo img{
    max-width: 100%;
    width: 50%;
    margin-bottom: 25px;
}
/*footer .logo .item{

}*/
footer .logo .item .title{


    color: #8d8d8d;
    font-weight: 400;    

    font-size: 1.5rem;
    margin-bottom: 10px;
}
footer .logo .item .txt{
    color: #E5E5E5;
    font-weight: lighter;
    width: 70%;
}

footer ul{
    /* background: black; */
    width: 12%;
    height: 50%;
    list-style:none;
}

footer ul .title{

    color: #8d8d8d;
    font-weight: 400;

    font-size: 1.5rem;
    margin-bottom: 10px;
}
footer ul li:not(.title){
    text-transform: uppercase;
    color: #e5e5e5;
    margin-bottom: 10px;
}
footer a img{
    width: 30px;
}
footer .icons {
    margin-top:20px;
}
footer .icons a:nth-child(2){
    margin-left: 12px;
}
.copy{
    color:#9C9C9C;
}



@media (max-width:867px) {
    footer{
        flex-wrap: wrap;
    }
    footer ul, footer .logo{
        /* width: 40%; */
        height: auto;
    }
    footer .copy{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;        
    }
}


@media (max-width:716px) {
    footer {
        height: 80vh;
    }
    footer ul, footer .logo{
        width: 40%;
        height: auto;
    }
}


@media(width:1024px) and (height:1366px) {
    footer{
        height: 30vh;
    }
}
