*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
html{
    font-size: 62.5%;
    min-width: 280px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    background-color: #F8F8F8;
    position: relative;
}

a{
    text-decoration: none;
    color: unset;
}

.cta:focus{
    outline: none;
    border-color: rgb(0, 0, 0)!important;
    /* border: 3px solid tomato; */
}

.website-navi a:focus{
    padding: 5px;
    border: 3px solid #E51E1F;
    border-bottom: 4px solid #E51E1F!important;
    border-radius: 3px;
    outline: none;
    background: #F1F1F1;
    color: #E51E1F;
}
button:focus{
    outline: none;
    border-color: rgb(0, 0, 0)!important;
}
textarea{
    resize: vertical;
}
input, textarea{
    outline: none;
    padding-left: 5px;
}
input:focus, textarea:focus{
    border-color:darkblue!important;
}

button{
    cursor: pointer;
}

.invalid{
    border-color: tomato!important;
}

.valid{
    border-color: limegreen!important;
}

.msg, .msg-captcha{
    margin-top: 10px;
    font-size:1.3rem;
    width:100%;
}


strong {
    font-weight: 600;
    font-style: italic;
    font-size: 1.4rem;
}

.real-link{
    color: rgb(0, 61, 175);
    border-bottom: 1.4px solid transparent;
    padding-bottom:2px;
    padding-left: 2px;
    padding-right: 2px;
}
.real-link:hover, .real-link:focus{
    border-color: rgb(61, 0, 175);
}

@media (max-width:360px) {
    html{
        font-size:50% 
    }
}
@media (max-width:867px) {
    html{
        font-size: 60%;
    }
}

@media (max-width:600px) {
    html{
        font-size: 50%;
    }
}
@media (max-width:830px) {
    html{
        font-size: 55%;
    }
}

@media (max-width:950px) {
    html{
        font-size: 60%;
    }
}

@media(width:1024px) and (height:1366px) {
    html{
        font-size: 80%;
    }
}