@import url('../css/_others.css');
@import url('../css/_header.css');
@import url('../css/_footer.css');

.popup{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    /* display: flex; */

}

.loginTxt {
    font-size: 1.3rem;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}

.successMsg{
    font-size: 2rem;
    width: 80%;
    line-height: 150%;
    margin: 0 auto;
    text-align: center;
    margin-top: 60px;
}

.redirect-warning{
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 1.5rem;
    text-align: center;
    color: #282828;
}

.countDown{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
    font-size: 2rem;
}

.popup .captcha-form {
    width: 40%;
    height: 300px;
    background: white;
}
.popup .section .input{
    width:70%;
}



.pageOne {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    min-height: 619px;
}

.pageOne .signup-section{
    width: 40%;
    height: 100%;
    margin: 0 auto;

}
.pageOne .signup-section .title{
    height: 10%;
    font-size: 2.3rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pageOne .info{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.2rem;
    /* margin-top: 20px; */
}

.pageOne form{
    width: 100%;
}
.pageOne form .input, .popup .captcha-form .input{
    width: 70%;
    margin: 0 auto;

    margin-bottom: 20px;
}
.msg{
    width: 70%;
    margin: 0 auto;
    margin-top: 10px;
}
.pageOne form .input .input-title, .popup .captcha-form .input .input-title{
    font-size: 1.3rem;
    font-weight: normal;
    width: 100%;
    margin-bottom: 5px;
}
.pageOne form .input input, .popup .captcha-form .input input{
    width: 100%;
    background: #FFF;
    border: 1.9px solid #B0B0B0;
    padding:5px 10px 5px 10px;
}

.captcha-img-parent{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    margin-top: 20px!important;
}
.captcha-img-parent img{
    min-height: 100%;
    max-height: 100%;
}
.pageOne form button, .popup .captcha-form button{
    background: #E51E1F;    
    color: #FFF;
    border: none;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:5px 10px 5px 10px;
    margin: 0 auto;
    border: 2.2px solid #E51E1F;
}
@media (max-width:970px) {
    .pageOne .signup-section{
        width: 50%;
    }
    .popup .captcha-form {
        width: 50%;
    }

}

@media (max-width:770px) {
    .pageOne .signup-section{
        width: 60%;
    }
    .popup .captcha-form {
        width: 60%;
    }
}

@media (max-width:670px) {
    .pageOne .signup-section{
        width: 80%;
    }
    .popup .captcha-form {
        width: 80%;
    }
}

@media (max-width:500px) {
    .pageOne .signup-section{
        width: 100%;
    }
    .popup .captcha-form {
        width: 100%;
    }
}



@media (width:1024px) and (height:1366px) {
    html{
        overflow: hidden;
    }
    .pageOne header{
        height: 15vh!important;
    }
    .pageOne {
        height: auto;
    }
    .pageOne .signup-section{
        margin-top: 40px;
        margin-bottom: 40px;
        width: 80%;
    }

    .popup .captcha-form {
        width: 80%;
    }
    .pageOne .signup-section .title{
        font-size: 3rem;
    }
    .pageOne .signup-section .info{
        font-size: 1.9rem;
        margin-top: 25px;
    }
    .pageOne .signup-section .input .input-title{
        font-size: 2rem;
    }
    .pageOne .signup-section .input input{
        padding: 20px 10px 20px 10px;
    }
    .pageOne .signup-section button{
        padding: 19px 10px 19px 10px;
        font-size: 2rem;
    }
    .popup .captcha-form input{
        padding: 20px 10px 20px 10px
    }
    .popup .captcha-form button{
        padding: 19px 10px 19px 10px;
        font-size: 2rem;
    }

}



.msg, .msg-captcha{
    background: #FF9494;
    color:red;
    padding: 20px 0px 20px 10px;
    font-weight: 600;
}


.msg-captcha{
    width: 70%!important;
    margin: 0 auto;
    margin-top: 15px;
}

.msg:empty, .msg-captcha:empty{
    display:none
}