@import url('../css/_others.css');
@import url('../css/_header.css');
@import url('../css/_footer.css');

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    min-height: 619px;
}

main{
    background: transparent;
}

.title{
    font-size: 3.5rem;
    line-height: 178%;
}

.description{
    color: #434343;
    font-size:1.7rem;
    margin: 15px 0;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form .input{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    
}

form .input .input-title{
    font-size: 1.3rem;
    font-weight: normal;
    width: 100%;
    margin-bottom: 5px;
}


form .input input{
    width: 100%;
    background: #FFF;
    border: 1.9px solid #B0B0B0;
    padding: 5px 10px 5px 10px;
    height: 50px;
    font-size: 2rem;

}

form button{
    background: #E51E1F;
    color: #FFF;
    border: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px 5px 10px;
    border: 2.2px solid #E51E1F;
}
@media (max-width:600px) {
    html{
        font-size: 50%!important;
    }
    
    body{
        width: 90%;
        margin: 0 auto;
    }
}