@import url('../css/_others.css');
@import url('../css/_header.css');
@import url('../css/_footer.css');

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    min-height: 619px;
}

main{
    background: transparent;
}

.title{
    font-size: 3.5rem;
    line-height: 178%;
}

.description{
    color: #434343;
    font-size:1.7rem;
    margin: 15px 0;
}

.a-parent{
    background: #F2F3F5;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-all;
    width: 100%;
    height: 70px;
}

.a-parent a{
    width: 90%;
    color: rgb(0, 61, 175);
}


.shareBtn, .links a{
    width: 50px;
    height: 50px;
    background-image: url('../images/icons/Share.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    background-color: #F2F3F5;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 auto;
    border: 1px solid #ccc;
    margin-top: 20px;
}

.links{
    margin-top: 20px;
    display: none;
}

.links a{
    display: unset;
}
.links .twitter{
    background-image: url('../images/icons/twitter1.png');
    background-size: 60%;
}

.links .fb{
    background-image: url('../images/icons/fb1.png');
    background-size: 100%;
    background-position-y: bottom;
}

.links .mail{
    background-image: url('../images/icons/mail.png');
    background-size: 60%;
}

.links .clipboard{
    background-image: url('../images/icons/clipboard.png');
    background-size: 60%;
}

@media (max-width:600px) {
    html{
        font-size: 50%!important;
    }
    
    body{
        width: 90%;
        margin: 0 auto;
    }
}